
python_vignettes/.ipynb_checkpoints/python_functions_vignette-Copy1-checkpoint.ipynb
python_vignettes/.ipynb_checkpoints/python_functions_vignette_library-checkpoint.ipynb
python_vignettes/.ipynb_checkpoints/python_functions_vignette_library-Copy1-checkpoint.ipynb
